body {
	background: #F0F2F0;
}

.margem {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fundosobre {
	background-color: #52828D;
}

.fundoespec {
	background-color: #C8EEF3;
}

.corfundo {
	background-color: #234B5A;
}
